@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}

.menu-list {
    list-style-type: none;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #FD0178;
    text-decoration: none;
}

.splitscreen-right {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=');
}